<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBo01uvrwAS_mwfF3XRnD1HV9-Af_lQ_ao</string>
	<key>GCM_SENDER_ID</key>
	<string>740899552773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.enono</string>
	<key>PROJECT_ID</key>
	<string>enono-4747</string>
	<key>STORAGE_BUCKET</key>
	<string>enono-4747.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740899552773:ios:9a6ca71246b49b3a9e666c</string>
</dict>
</plist>